<twig:Modal>
    {% block title %}<span class="modal-header">Note</span>{% endblock %}

    <div>
        {{ form_start(form) }}
        <div class="space-y-4">
            {{ form_row(form.name) }}
            {{ form_widget(form.notes, {attr: {rows: 3}}) }}
        </div>

        <div class="mt-8">
            <button type="submit" class="px-2 block w-full py-2 bg-indigo-600 text-white transition-colors font-medium cursor-pointer not-disabled:hover:bg-indigo-400 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:cursor-pointer rounded-xl">
                {{ item.id ? 'common.modify'|trans : 'common.add'|trans }}
            </button>
        </div>

        {{ form_end(form) }}
        {% if item.id %}
            <hr class="my-4 border-gray-200">
            <form action="{{ path('app_travelitem_delete', {'trip': trip.id}) }}" method="post" class="" onsubmit="return confirm('Supprimer ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-item' ~ trip.id) }}">
                <input type="hidden" name="item" value="{{ item.id }}">
                <button type="submit" class="cursor-pointer w-full p-2 rounded-xl hover:bg-red-50 font-medium text-red-300 text-center text-sm transition-colors">
                    {{ 'common.delete'|trans }}
                </button>
            </form>
        {% endif %}
    </div>
</twig:Modal>
