<twig:Modal size="lgs">
    {% block title %}
        <div class="flex items-center">
            {{ ux_icon('material-symbols:link', {class: 'size-5 mr-2'}) }}
            {{ 'trip.join_token.create_link'|trans }}
        </div>
    {% endblock %}

    {{ 'trip.join_token.allow_warning'|trans }}
    <hr class="my-8 text-gray-200" />

    <form method="post" action="{{ app.request.uri }}">
        <input type="hidden" name="_token" value="{{ csrf_token('toggle_share_link') }}">
        <button type="submit" class="btn cursor-pointer">{{ 'trip.join_token.create'|trans }}</button>
    </form>
</twig:Modal>
