<div class="">
    {{ form_start(form) }}
    {% set dayMapping = trip.dayMapping %}

    {% set startDate = item.startDay ? item.startDay.date|date('Y-m-d') : null %}
    {% set endDate = item.endDay ? item.endDay.date|date('Y-m-d') : (startDate ?? null) %}
    <div class="mb-4">
        <div class="mb-3">
            {{ form_row(form.flightNumber) }}
        </div>

        <div class="mb-3 grid grid-cols-2 space-x-3">
            <div class="col-span-1">
                    <h3 class="form-label">{{ 'common.departure'|trans }}</h3>
                <div class="grid grid-cols-2 space-x-1">
                    <div {{  stimulus_controller('calendar', {dayMapping: dayMapping, startDate: startDate, isRange: false, autoHide: true, inputMode: true, inModal: true, displayWeekDay: false}) }}
                        {{ stimulus_target('calendar', 'calendar') }}
                        class="col-span-1"
                    >
                        {{ form_widget(form.startDay) }}
                        <div class="form-input cursor-pointer py-1.5">
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}><span class="italic text-gray-500 text-sm">Date</span></div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        {{ form_widget(form.startTime) }}
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <h3 class="form-label">{{ 'common.arrival'|trans }}</h3>
                <div class="grid grid-cols-2 space-x-1">
                    <div {{  stimulus_controller('calendar', {dayMapping: dayMapping, startDate: endDate, isRange: false, autoHide: true, inputMode: true, inModal: true, displayWeekDay: false}) }}
                        {{ stimulus_target('calendar', 'calendar') }}
                        class="col-span-1"
                    >

                            {{ form_widget(form.endDay) }}
                        <div class="form-input cursor-pointer py-1.5">
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}><span class="italic text-gray-500 text-sm">Date</span></div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        {{ form_widget(form.endTime) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 grid grid-cols-2 space-x-3">
            <div class="col-span-1">
                <div class="grid grid-cols-2 gap-1">
                    {{ form_widget(form.departureAirportCode, {'attr': {'class': 'col-span-1 py-1.5'}}) }}
                    {{ form_widget(form.departureTerminal, {'attr': {'class': 'col-span-1 py-1.5'}}) }}
                </div>
            </div>
            <div class="col-span-1">
                <div class="grid grid-cols-2 space-x-1">
                    {{ form_widget(form.arrivalAirportCode, {'attr': {'class': 'col-span-1 py-1.5'}}) }}
                    {{ form_widget(form.arrivalTerminal, {'attr': {'class': 'col-span-1 py-1.5'}}) }}
                </div>
            </div>
        </div>



        <div class="space-y-2 mt-6">
            {{ form_row(form.notes) }}
            {% if form.status is defined %}
                {{ form_row(form.status) }}
            {% endif %}
        </div>
    </div>

    <div class="mt-8 flex gap-2 sticky bottom-5">
        {% if item.id %}
            <button type="submit" form="delete-form" class="cursor-pointer px-4 border bg-white border-slate-300 rounded-xl hover:bg-slate-100 btn-animate font-medium text-slate-300 text-center text-sm transition-colors">
                <twig:ux:icon name="flowbite:trash-bin-solid" class="size-4 text-slate-400" />
            </button>
        {% endif %}
        <button type="submit"
                class="px-2 btn-animate flex-2 block w-full py-2 bg-indigo-600 text-white transition-colors font-medium cursor-pointer not-disabled:hover:bg-indigo-400 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:cursor-pointer rounded-xl">
            {{ item.id ? 'common.modify'|trans : 'common.add'|trans }}
        </button>
    </div>

    {{ form_end(form) }}

    {% if item.id %}
        <form action="{{ path('app_travelitem_delete', {'trip': trip.id}) }}" id="delete-form" method="post" class="flex-1" onsubmit="return confirm('{{ 'common.delete'|trans }}');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete-item' ~ trip.id) }}">
            <input type="hidden" name="item" value="{{ item.id }}">
        </form>
    {% endif %}
</div>


