{% extends 'base_with_navbar.html.twig' %}

{% block title %}MyTravel - {{ 'form.security.connection'|trans }}{% endblock %}

{% block body %}
    {% set last_email = app.request.cookies.get('last_google_login_email') %}

    <div class="rounded-4xl max-w-screen-xl bg-indigo-25 mx-auto px-2 mt-4 py-12 lg:px-8" data-turbo-prefetch="false">
        <div class="max-w-sm py-8 border-indigo-200 rounded-4xl mx-auto px-4 lg:px-8">
            <h2 class="text-center text-3xl/9 mb-7 text-indigo-500 font-bold tracking-tight ">{{ 'form.security.connection'|trans }}</h2>
            <div class="space-y-3">

                <a href="{{ path('app_connect_google_start') }}" data-turbo="false" class="flex items-center px-4 rounded-xl border border-gray-300 text-gray-600 hover:bg-gray-50 text-sm justify-center py-2 w-full bg-white">
                    <twig:ux:icon name="flat-color-icons:google" class="size-6 mr-4" />
                    {{ 'auth.google.label'|trans([], 'security') }}
                </a>
                <a href="{{ path('app_connect_discord_start') }}" data-turbo="false" class="flex items-center px-4 rounded-xl text-white text-sm justify-center py-2 w-full discord-button">
                    <twig:ux:icon name="ic:baseline-discord" class="size-6 mr-4" />
                    {{ 'auth.discord.label'|trans([], 'security') }}
                </a>

            </div>

            <div class="flex items-center gap-4 w-full my-8">
                <div class="w-full h-px flex-2 bg-gray-300/90"></div>
                <p class="w-full text-nowrap flex-1 text-sm text-gray-500/90">{{ 'or_with_email'|trans([], 'security') }}</p>
                <div class="w-full h-px flex-2 bg-gray-300/90"></div>
            </div>

            <div class="">
                <form method="post">
                    <div class="mb-4 space-y-2">
                        {% if error %}
                            <div class="flex items-center space-x-2 border border-red-500/30 rounded-full bg-red-500/10 p-1 text-sm text-red-400">
                                <div class="flex items-center bg-red-400 text-white border border-red-500/30 rounded-2xl">
                                    <twig:ux:icon name="ci:warning" class="size-6" />

                                    {#                                    <svg width="18" height="16" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                                        <path d="M10 6.5v3.334m0 3.333h.008M8.575 2.217 1.516 14a1.666 1.666 0 0 0 1.425 2.5h14.117a1.667 1.667 0 0 0 1.425-2.5L11.425 2.217a1.667 1.667 0 0 0-2.85 0" stroke="#fff" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>#}
{#                                    </svg>#}
                                </div>
                                <p class="pr-3">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="space-y-3.5">
                        <div>
                            <label for="username" class="mb-1 block text-sm text-slate-500 font-medium">{{ 'form.security.email'|trans }}</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-input bg-indigo-10 px-4 py-2" autocomplete="email" required autofocus>
                        </div>
                        <div>
                            <label for="password" class="mb-1 block text-sm text-slate-500 font-medium">{{ 'form.security.password'|trans }}</label>
                            <input type="password" name="_password" id="password" class="form-input bg-indigo-10 px-4 py-2" autocomplete="current-password" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                    <button class="btn mt-8 px-4 w-full cursor-pointer py-3" type="submit">
                        {{ 'form.security.login'|trans }}
                    </button>
                </form>


                <p class="mt-10 text-center text-sm/6 text-gray-500">
                        {{ 'form.security.not_account_yet'|trans }}
                    <a href="{{ path('app_register') }}" class="font-semibold ml-1 text-gray-500 hover:underline hover:text-gray-600">{{ 'form.security.register'|trans }}</a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}
