{% extends 'base_with_navbar.html.twig' %}

{% block title %}{{ 'form.security.registration'|trans }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="rounded-4xl max-w-screen-xl bg-indigo-25 mx-auto px-2 mt-4 py-12 lg:px-8">
        <div class="max-w-sm py-8 border-indigo-200 rounded-4xl mx-auto">
            <h2 class="text-center text-2xl/9 text-indigo-600 font-bold tracking-tight ">{{ 'form.security.registration'|trans }}</h2>
            <div class="mt-8 px-4 lg:px-8">

                {{ form_start(registrationForm) }}
                <div class="space-y-3.5">
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.email, {label: 'form.security.email'|trans}) }}
                    {{ form_row(registrationForm.plainPassword, {label: 'form.security.password'|trans}) }}
                </div>

                <button class="btn mt-8 px-4 w-full" type="submit">
                    {{ 'form.security.register'|trans }}
                </button>

                {{ form_end(registrationForm) }}
                <p class="mt-10 text-center text-sm/6 text-gray-500">
                    {{ 'form.security.account_already'|trans }}
                    <a href="{{ path('app_login') }}" class="font-semibold ml-1 text-gray-500 hover:text-gray-600">{{ 'form.security.login'|trans }}</a>
                </p>
            </div>

        </div>
    </div>

{% endblock %}
