<div id="idea_list"
     class="space-y-2 rounded-xl [.is-dragging_&]:outline-2 [.is-dragging_&]:outline-dashed [.is-dragging_&]:p-2z p-2 [.is-dragging_&]:outline-indigo-100 idea-container min-h-10"
    {{ stimulus_controller('draggable', {group: 'itinerary', allowSort: false, toIdeas: true}) }}>

    <form action="{{ path('app_travelitem_item_to_idea', {trip: trip.id}) }}" class="hidden" method="POST" {{ stimulus_target('draggable', 'form')}}>
        <input type="hidden" name="item" {{ stimulus_target('draggable', 'formInput')}}>
        <input type="hidden" name="_token" value="{{ csrf_token('item_to_idea') }}">
    </form>

    {% for item in ideas %}
        {% include 'travel_item/idea/_base_show.frame.html.twig' %}
    {% endfor %}
</div>
