{% block form_modal %}
    <twig:Modal>
{#            {% include 'travel_item/component/_type_selector.html.twig' %}#}
            {{ form_start(form) }}
                <div class="space-y-2">

                    <div {{ stimulus_controller('calendar', {dayMapping: trip.dayMapping, isRange: true, startDate: day ? day.date|date('Y-m-d')}) }}>
                        <div {{ stimulus_target('calendar', 'calendar') }}></div>
                        {{ form_widget(form.startDay) }}
                        {{ form_widget(form.endDay) }}
                    </div>
                    <div>
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'w-full bg-gray-100 pl-1 rounded-lg h-8 flex items-center'}}) }}
                    </div>
                    <div>
                        {{ form_widget(form.notes) }}
                    </div>


                    <div class="flex justify-end mt-6">

                        <label>
                            <select name="{{ field_name(form.status) }}"
                                    class="bg-blue-100 rounded-l-2xl pl-2 py-1 custom-select focus:outline-none">
                                {% for label, value in field_choices(form.status) %}
                                    <option
                                        value="{{ value }}" {{ form.status.vars.value == value ? 'selected' }}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <div>
                            <button type="submit"
                                    class="bg-blue-100 px-4 py-1 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:hover:bg-blue-200 not-disabled:cursor-pointer rounded-r-2xl ml-0.5">
                                Ajouter
                            </button>
                        </div>
                    </div>
{#                    <button type="submit" class="btn btn-primary">Create</button>#}

                </div>
            {{ form_end(form) }}
    </twig:Modal>
{% endblock %}

{% block success_stream %}
    <twig:Modal:Close />
    <twig:Turbo:Stream:Refresh />
{% endblock %}
