{% set accommodationEnum = enum("App\\Enum\\TravelItemType").ACCOMMODATION.value %}
{% set flightEnum = enum("App\\Enum\\TravelItemType").FLIGHT.value %}


<div id="day_{{ day.id }}" class="pb-4 pt-6 px-4 lg:px-5 w-full bg-white rounded-4xl">
    <div class="flex items-end mb-5">
        <h2 class="font-bold text-2xl">{{ day.date|date('j/m') }}</h2>
        <div class="ml-4">{{ day.title }}</div>
    </div>

    <div class="space-y-6">

        {{ include('trip/day/_accommodation.html.twig') }}

        {{ include('trip/day/_flight.html.twig') }}
    </div>


    <div class="mt-10">
        <div class="flex items-center">
            <div class="relative flex items-start ml-6">
                <div class="h-7 before:absolute before:left-1/2 before:top-0 before:bottom-0 before:w-px before:bg-gray-300 before:-translate-x-1/2"></div>
                <a href="{{ path('app_travelitem_create_day_item', {trip: trip.id, day: day.id }) }}"
                   class="relative border border-gray-300 bg-white rounded-md"
                   data-turbo-frame="modal">
                    <div>
                        <twig:ux:icon name="bx:plus" class="size-4 text-gray-400" />
                    </div>
                </a>
            </div>
        </div>


        {% if items['itinerary'] is defined %}
            {{ include('trip/day/_itinerary.html.twig') }}
        {% endif %}
    </div>
</div>
