{% set accommodationEnum = enum("App\\Enum\\TravelItemType").ACCOMMODATION.value %}
{% set destinationEnum = enum("App\\Enum\\TravelItemType").DESTINATION.value %}
{% set flightEnum = enum("App\\Enum\\TravelItemType").FLIGHT.value %}
{% set noteEnum = enum("App\\Enum\\TravelItemType").NOTE.value %}

{% set flightSameDay = [] %}
{% set flightStartDay = [] %}
{% set flightEndDay = [] %}
{% if items and items[flightEnum]|default([]) %}
    {% for item in items[flightEnum] %}
        {% if item.endDay is null %}
            {% set flightSameDay = flightSameDay|merge([item]) %}
        {% elseif item.startDay is same as(day) %}
            {% set flightStartDay = flightStartDay|merge([item]) %}
        {% else %}
            {% set flightEndDay = flightEndDay|merge([item]) %}
        {% endif %}
    {% endfor %}
{% endif %}

<div id="day_{{ day.id }}">
    <div class="">
        <div class="scroll-margin lg:px-10 md:px-8 px-3 pb-4 pt-4 bg-white">
            <div>

                {% if flightEndDay|length > 0 %}
                    <div class="mb-4">
                        {% for item in flightEndDay %}
                            <div class="rounded-xl btn-animate text-sm overflow-hidden relative">
                                <div class="px-4 py-0.5 bg-indigo-100 flex justify-between items-center">
                                    <div class="flex items-center font-bold text-gray-700">
                                        <twig:ux:icon name="entypo:aircraft-landing" class="size-6 mr-3"/>
                                        {{ item.flightNumber ?? 'TBD' }}
                                    </div>
                                </div>

                                <div class="px-4 py-1 bg-indigo-50 flex justify-between items-center text-sm">
                                    <div class="flex items-center">
                                        <div>
                                            <span class="font-semibold">{{ item.departureAirport.code ?? 'TBD' }}</span>
                                            <span class="pl-1">{{ item.departureAirport.terminal ?? '' }}</span>
                                        </div>
                                        <twig:ux:icon name="bi:arrow-right" class="size-3 mx-5"/>
                                        <div>
                                            <span class="font-semibold">{{ item.arrivalAirport.code ?? 'TBD' }}</span>
                                            <span class="pl-1">{{ item.arrivalAirport.terminal ?? '' }}</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center text-gray-600">
                                        {{ 'common.arrival'|trans }}
                                        <twig:ux:icon name="bi:dash-lg" class="mx-2.5 size-4" />
                                        <span class="font-medium text-indigo-600">{{ item.endTime ? item.endTime|date("H:i") : 'TBD' }}</span>
                                    </div>
                                </div>

                                <a href="{{ path('app_travelitem_edit', {'item': item.id, 'trip': trip.id}) }}" data-turbo-frame="modal" class="cursor-pointer z-20 absolute w-full h-full top-0 left-0">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}


                {% if flightSameDay|length > 0 %}
                    <div class="space-y-6 mb-4">

                        {% for item in flightSameDay %}
                            <div class="rounded-2xl btn-animate text-sm overflow-hidden relative">
                                <div class="px-4 py-0.5 bg-indigo-100 flex items-center font-bold text-gray-700">
                                    <twig:ux:icon name="entypo:aircraft-take-off" class="size-6 text-gray-700 mr-3"/>
                                    {{ item.flightNumber ?? 'TBD' }}
                                </div>

                                <div class="px-4 py-1 bg-indigo-50">
                                    <div class="grid grid-cols-3 max-w-md">
                                        <div class="col-span-1">
                                            {{ item.startTime ? item.startTime|date("H:i") : 'TBD' }}
                                        </div>
                                        <div class="col-span-1 col-start-3">
                                            {{ item.endTime ? item.endTime|date("H:i") : 'TBD' }}
                                            {{ item.endDay is not null and item.endDay is not same as(day) ? '+1' }}
                                        </div>
                                        <div class="col-span-1 row-start-2">
                                            <span class="font-semibold">{{ item.departureAirport.code ?? 'TBD' }}</span>
                                            <span class="pl-1">{{ item.departureAirport.terminal ?? '' }}</span>
                                        </div>
                                        <div class="col-span-1 row-start-2">
                                            <twig:ux:icon name="bi:arrow-right" class="size-3 mr-5"/>
                                        </div>
                                        <div class="col-span-1 row-start-2">
                                            <span class="font-semibold">{{ item.arrivalAirport.code ?? 'TBD' }}</span>
                                            <span class="pl-1">{{ item.arrivalAirport.terminal ?? '' }}</span>
                                        </div>
                                    </div>
                                </div>

                                <a href="{{ path('app_travelitem_edit', {'item': item.id, 'trip': trip.id}) }}" data-turbo-frame="modal" class="cursor-pointer z-20 absolute w-full h-full top-0 left-0">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="">
                    {% include 'trip/day/_accommodation.html.twig' with { 'flightStartDay': flightStartDay|length > 0} %}
                </div>



            <div class="">
                {{ include('trip/day/_itinerary.html.twig') }}
            </div>


                {% if flightStartDay|length > 0 %}
                    <div class="mt-6">
                        {% for item in flightStartDay %}

                            <div class="rounded-xl btn-animate text-sm overflow-hidden relative">
                                <div class="px-4 py-0.5 bg-indigo-100 flex justify-between items-center">
                                    <div class="flex items-center font-bold text-gray-700">
                                        <twig:ux:icon name="entypo:aircraft-take-off" class="size-6 mr-3"/>
                                        {{ item.flightNumber ?? 'TBD' }}
                                    </div>
                                </div>

                                <div class="px-4 py-1 bg-indigo-50 flex justify-between items-center text-sm">
                                    <div class="flex items-center">
                                        <div>
                                            <span class="font-semibold">{{ item.departureAirport.code ?? 'TBD' }}</span>
                                            <span class="pl-1">{{ item.departureAirport.terminal ?? '' }}</span>
                                        </div>
                                        <twig:ux:icon name="bi:arrow-right" class="size-3 mx-5"/>
                                        <div>
                                            <span class="font-semibold">{{ item.arrivalAirport.code ?? 'TBD' }}</span>
                                            <span class="pl-1">{{ item.arrivalAirport.terminal ?? '' }}</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center text-gray-600">
                                        {{ 'common.departure'|trans }}
                                        <twig:ux:icon name="bi:dash-lg" class="mx-2.5 size-4" />
                                        <span class="font-medium text-indigo-600">{{ item.endTime ? item.startTime|date("H:i") : 'TBD' }}</span>
                                    </div>
                                </div>

                                <a href="{{ path('app_travelitem_edit', {'item': item.id, 'trip': trip.id}) }}" data-turbo-frame="modal" class="cursor-pointer z-20 absolute w-full h-full top-0 left-0">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
