{% extends 'base_with_navbar.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto mt-14">
        <div class="grid grid-cols-5 gap-8">
            <div class="col-span-2">

                <div class="rounded-3xl border-2 border-indigo-100 p-6">
                    <div class="flex items-center">
                        <img src="https://placehold.co/800?text={{ app.user.email[:1] }}&font=roboto" alt="airplane" class="rounded-full size-16 mr-4" />
                        <div class="text-center text-lg">
                            {{ app.user.email }}
                        </div>
                    </div>

                    <div class="mt-8">
                        <h1 class="font-medium text-lg mb-4">Vous avez vu</h1>
                        <div class="grid grid-cols-2 gap-4">
                            <div class="rounded-2xl bg-gray-100 p-4 col-span-1">
                                3 Pays
                            </div>
                            <div class="rounded-2xl bg-gray-100 p-4 col-span-1">
                                7 villes
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-span-3">
                <div class="p-6 rounded-3xl bg-indigo-50">
                    <h1 class="text-xl mb-6">Vos voyages</h1>
                    <div class="flex space-x-3">
                        {% for membership in memberships %}
                            {% set trip = membership.trip %}
                            <a href="{{ path('app_trip_show', {id: trip.id}) }}" class="bg-white hover:bg-gray-50 rounded-2xl border-2 border-gray-100 p-4">
                                <div class="text-lg">{{ trip.name }}</div>
                                <div>
{# TODO: use trip.days count                                    #}
                                    <span class="text-gray-500 text-sm">{{ trip.startDate|date_xs }} <span class="mx-2">•</span> {{ trip.endDate.diff(trip.startDate).days }} jours</span>
{#                                <span>{{ trip.endDate.diff(trip.startDate).days }} jours</span>#}
                                </div>
                                <div class="flex space-x-1 mt-3">
                                    {% for membership in trip.tripMemberships %}
                                        <div class="flex items-center">
                                            <img src="https://placehold.co/800?text={{ membership.member.email[:1] }}&font=roboto" class="rounded-full size-8" alt="{{ membership.member.email }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
