{% extends 'base_with_navbar.html.twig' %}

{% block title %}{{ 'trip.my_trips'|trans }}{% endblock %}
{% block body_style %}min-h-screen flex flex-col{% endblock %}

{% block body %}
    <div class="container max-w-3xl mx-auto mt-10 space-y-6">
        <div class="">
            <div class="flex gap-6 ">
                <twig:UserAvatar user="{{ app.user }}" imgClass="size-24"/>
                <div class="my-2">
                    <div class="text-2xl font-medium">
                        {{ app.user.username }}
                    </div>
                    <a href="{{ path('app_account') }}" class="text-sm text-gray-400 hover:text-gray-500">
                        {{ 'common.modify'|trans }}
                    </a>
                </div>
            </div>

            <div class="mt-10">
                <twig:Trip:Dashboard:Statistics :user="app.user" />
            </div>
        </div>
    </div>
    <div class="border-t-2 py-6 mt-4 border-indigo-50 bg-indigo-10 grow">

        <div class="container max-w-3xl mx-auto">
            {% if app.user.expiresAt %}
                <div class="flex items-center justify-between w-full mb-6 bg-blue-600/70 text-white px-3 py-1.5 rounded-lg">
                    <div class="flex items-center">
                        <svg width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 14.167q.354 0 .593-.24.24-.24.24-.594a.8.8 0 0 0-.24-.593.8.8 0 0 0-.594-.24.8.8 0 0 0-.593.24.8.8 0 0 0-.24.593q0 .354.24.594t.593.24m-.834-3.334h1.667v-5H9.166zm.833 7.5a8.1 8.1 0 0 1-3.25-.656 8.4 8.4 0 0 1-2.645-1.781 8.4 8.4 0 0 1-1.782-2.646A8.1 8.1 0 0 1 1.666 10q0-1.73.656-3.25a8.4 8.4 0 0 1 1.782-2.646 8.4 8.4 0 0 1 2.645-1.781A8.1 8.1 0 0 1 10 1.667q1.73 0 3.25.656a8.4 8.4 0 0 1 2.646 1.781 8.4 8.4 0 0 1 1.781 2.646 8.1 8.1 0 0 1 .657 3.25 8.1 8.1 0 0 1-.657 3.25 8.4 8.4 0 0 1-1.78 2.646 8.4 8.4 0 0 1-2.647 1.781 8.1 8.1 0 0 1-3.25.656" fill="currentColor"/>
                        </svg>
                        <p class="text-sm ml-2">{{ 'trip.demo.temporary_account_alert'|trans }}.</p>
                    </div>
                </div>
            {% endif %}

            <twig:Trip:Dashboard:UserTrips :user="app.user" />
        </div>
    </div>
{% endblock %}
