{% extends 'trip/show.html.twig' %}

{% block activeTab %}itinerary
{% endblock %}


{% macro destintionSeparator(trip, day = null, isExtremy = false, gap = null) %}
    <div class="flex items-center">
        <div class="flex items-center group w-12 justify-end">
            <div class="relative flex items-center {{ day and isExtremy ? 'h-14' : 'h-9 '}}">
                <div class=" before:absolute before:left-1/2 before:top-0 before:bottom-0 before:border-l-2 before:border-dashed before:border-indigo-200 before:-translate-x-1/2"></div>
                {% if day %}
                    <a href="{{ path('app_travelitem_create', {trip: trip.id, type: enum("App\\Enum\\TravelItemType").DESTINATION.value, day: day.id }) }}"
                       class="relative hover:bg-indigo-50 bg-white outline-2 outline-indigo-100 rounded-lg"
                       data-turbo-frame="modal">
                        <div>
                            <twig:ux:icon name="bx:plus" class="size-5 text-indigo-300"/>
                        </div>
                    </a>
                {% else %}
                    <div class="size-5"></div>
                {% endif %}
            </div>
        </div>
        {% if gap %}
            <div class="ml-3 text-sm text-gray-400">
                1 nuits
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}

	<div class="container mx-auto max-w-2xl py-12">
		<div class="flex items-center ml-4.5">
            <twig:ux:icon name="material-symbols:home-outline" class="size-10 text-indigo-400 mr-4 p-1.5 rounded-full bg-indigo-100"/>

            <div>
                <span class="text-indigo-500 font-medium">Debut du voyage</span>
                <div class="text-sm text-gray-500 -mt-1">
                    {{ trip.startDate|date_short|capitalize }}
                    <span class="px-1">•</span>
                    {{ trip.endDate.diff(trip.startDate).days }} jours
                </div>
            </div>
		</div>

        {% set firstTripDay = trip.days|first %}
        {% set lastTripDay = trip.days|last %}

		{% for destination in destinations %}
            {% if loop.first %}
                {{ _self.destintionSeparator(trip, firstTripDay is not same as(destination.startDay) ? firstTripDay, true) }}
            {% endif %}
            {% if not loop.first %}
                {% set prevDestination = destinations[loop.index0 - 1] %}
                {% set dayGap = destination.startDay.position - prevDestination.endDay.position %}

                {{ _self.destintionSeparator(trip, dayGap >= 1 ? prevDestination.endDay, false, dayGap) }}
            {% endif %}

			<div class="bg-white border border-indigo-100 card-shadow flex justify-between rounded-3xl p-5">
				<a href="{{ path('app_travelitem_edit', {trip: trip.id, item: destination.id }) }}" class="hover:underline" data-turbo-frame="modal">
					<div>
						<span class="text-gray-700 font-medium">{{ destination.place.city }}</span><span class="text-sm text-gray-500">, {{ destination.place.country }}</span>
                    </div>
					<div class="text-sm text-gray-500">
						{{ destination.startDay.date|date_short }} - {{ destination.endDay.date|date_short }}
					</div>
				</a>
				<div class="flex items-center space-x-6">
                    <div class="flex flex-col items-center text-sm">
                        <span class="font-medium">{{ destination.accommodationCount }}</span>
                        <span class="text-gray-500">hotels</span>
                    </div>
                    <div class="flex flex-col items-center text-sm">
                        <span class="font-medium">{{ destination.endDay.date.diff(destination.startDay.date).days }}</span>
                        <span class="text-gray-500">nuits</span>
                    </div>
                    <form action="{{ path('app_travelitem_delete', {'trip': trip.id}) }}" method="post" data-turbo-frame="_top" class="flex items-center ml-6" onsubmit="return confirm('Supprimer ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete-item' ~ trip.id) }}">
                        <input type="hidden" name="item" value="{{ destination.id }}">
                        <button type="submit" class="cursor-pointer p-1.5 rounded-full hover:bg-gray-200 bg-gray-100 transition-colors">
                            <twig:ux:icon name="flowbite:trash-bin-solid" class="size-3.5 text-gray-400" />
                        </button>
                    </form>
				</div>
			</div>
        {% else %}
            <div class="flex items-center">
                {{ _self.destintionSeparator(trip, firstTripDay, true) }}

                <div class="ml-5 text-gray-500">
                    Ajouter votre premiere destination
                </div>
            </div>
        {% endfor %}

        {% set lastDestination = destinations|last %}

        {{ _self.destintionSeparator(trip, lastDestination and lastDestination.endDay.position < lastTripDay.position ? lastDestination.endDay, true) }}

        <div class="flex items-center ml-5">
            <twig:ux:icon name="icons8:finish-flag" class="size-10 text-indigo-300 mr-4 p-2 rounded-full bg-indigo-50"/>
            <div>
                <div class="text-sm text-gray-600">
                    {{ trip.endDate|date_short|capitalize }}
                </div>
            </div>
        </div>
	</div>
{% endblock %}
