<twig:Modal>
    {% block title %}<span class="font-medium text-gray-700">Ajouter une accommodation</span>{% endblock %}

    <div  {{ stimulus_controller('google-place-widget', {primaryTypes: ['lodging', 'street_address']}) }}>
        {{ form_start(form) }}

        <div class="space-y-6">
            <div {{ stimulus_controller('calendar', {dayMapping: trip.dayMapping, fullWidth: true, inModal: true, isRange: true, startDate: day ? day.date|date('Y-m-d')}) }}>
                <div {{ stimulus_target('calendar', 'calendar') }} class="border border-gray-300 rounded-2xl p-3 flex items-center justify-between cursor-pointer hover:bg-gray-50">
                    <div class="flex justify-center">
                        <twig:ux:icon name="mage:calendar-2" class="size-6 mr-2 text-gray-700" />
                        Dates
                    </div>
                    <div class="flex items-center text-blue-500 font-medium">
                        <div>
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}>
                            </div>
                        </div>
                        <div class="mx-2">
                            -
                        </div>
                        <div>
                            <div {{ stimulus_target('calendar', 'endDayDisplay') }}>
                            </div>
                        </div>
                    </div>

                </div>
                {{ form_widget(form.startDay) }}
                {{ form_widget(form.endDay) }}
            </div>

            <div class="">
                <gmp-place-autocomplete
                    id="place-autocomplete"
                    class="bg-indigo-50 rounded-2xl focus:outline-none focus:ring-0 focus:border-none"
                    placeholder="Enter a location"
                    {{ stimulus_target('google-place-widget', 'placeInput') }}>
                </gmp-place-autocomplete>



                <div class="p-3 mt-2 mb-4 bg-indigo-50 rounded-2xl">
                    <div {{ stimulus_target('google-place-widget', 'placeHolder') }} class="">
                        <div class="flex flex-col justify-center items-center">
                            <twig:ux:icon name="material-symbols:hotel" class="size-6" style="color: #6a6ba5"/>
                            <div class="text-sm" style="color: #6a6ba5">
                                Choisissez une accommodation
                            </div>
                        </div>
                    </div>
                    <div {{ stimulus_target('google-place-widget', 'placeInfo') }} class="hidden">
                        <div class="">
                            <div class="w-full flex flex-col justify-between">
                                <div>
                                    <p {{ stimulus_target('google-place-widget', 'typeDisplay')}} class="text-sm text-purple-900 font-medium mb-1.5"></p>
                                    <div class="font-medium text-base/5 line-clamp-2" {{ stimulus_target('google-place-widget', 'nameDisplay') }}></div>
                                    <div {{ stimulus_target('google-place-widget', 'addressDisplay') }} class="text-sm/snug text-gray-500 line-clamp-1"></div>
                                </div>

                                <div class="flex mt-3 justify-end">
                                    <a {{ stimulus_target('google-place-widget', 'addressLinkDisplay') }} href="" target="_blank" rel="noopener noreferrer" class="px-2 pt-0.5 pb-1 inline-flex items-center gap-1 font-normal text-sm bg-gray-200 text-gray-800 rounded-xl hover:bg-gray-300">
                                        Maps
                                        <twig:ux:icon name="bx:link-external" class="size-4" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                {{ form_widget(form.notes) }}
            </div>


            <div class="flex justify-end mt-6">

                <label>
                    <select name="{{ field_name(form.status) }}"
                            class="bg-blue-100 rounded-l-2xl pl-2 py-1 custom-select focus:outline-none">
                        {% for label, value in field_choices(form.status) %}
                            <option
                                value="{{ value }}" {{ form.status.vars.value == value ? 'selected' }}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </label>
                <div>
                    <button type="submit"
                            disabled
                            {{ stimulus_target('google-place-widget', 'submitButton') }}
                            class="bg-blue-100 px-4 py-1 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:hover:bg-blue-200 not-disabled:cursor-pointer rounded-r-2xl ml-0.5">
                        Ajouter
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</twig:Modal>
