<twig:Modal>
    {% block title %}<span class="modal-header">{{ 'common.accommodations'|trans({count:1}) }}</span>{% endblock %}

    {% set googlePlaceOptions = {primaryTypes: ['lodging', 'street_address']} %}
    {% if destination|default %}
        {% set googlePlaceOptions = googlePlaceOptions|merge({'location': destination.place.location}) %}
    {% endif %}


    {% set day = day ?? item.startDay ?? null %}
    {% set startDate = day ? day.date|date('Y-m-d') : null %}
    {% set endDate = item.endDay ? item.endDay.date|date('Y-m-d') : null %}


    <div  {{ stimulus_controller('google-place-widget', googlePlaceOptions) }}>
        {{ form_start(form) }}

        <div class="space-y-4">
            <div {{ stimulus_controller('calendar', {dayMapping: trip.dayMapping, endDate: endDate, fullWidth: true, inModal: true, isRange: true, startDate: startDate}) }}>
                <div {{ stimulus_target('calendar', 'calendar') }} class="border border-gray-300 rounded-2xl p-3 flex items-center justify-between cursor-pointer hover:bg-gray-50">
                    <div class="flex justify-center">
                        <twig:ux:icon name="mage:calendar-2" class="size-6 mr-2 text-gray-700" />
                        Dates
                    </div>
                    <div class="flex items-center text-blue-500 font-medium">
                        <div>
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}>
                                <span class="text-gray-400">{{ 'common.arrival'|trans }}</span>
                            </div>
                        </div>
                        <div class="mx-2">
                            -
                        </div>
                        <div>
                            <div {{ stimulus_target('calendar', 'endDayDisplay') }}>
                                <span class="text-gray-400">{{ 'common.departure'|trans }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                {{ form_widget(form.startDay) }}
                {{ form_widget(form.endDay) }}
            </div>

            {% set place = item.place %}

            <div {{ stimulus_controller('hide-toggle') }}>
                <div class="bg-indigo-25 border border-indigo-200 shadow-sm rounded-xl">
                    <div {{ stimulus_target('hide-toggle', 'item') }} class="{{ place ? 'hidden' }} p-2 pb-0">
                        <gmp-place-autocomplete
                            id="place-autocomplete"
                            class="bg-white rounded-xl focus:outline-none focus:ring-0 border border-indigo-200"
                            placeholder="Enter a location"
                            {{ stimulus_target('google-place-widget', 'placeInput') }}>
                        </gmp-place-autocomplete>
                    </div>


                    <div class="p-3">
                        <div {{ stimulus_target('google-place-widget', 'placeHolder') }} class="{{ place ? 'hidden' }}">
                            <div class="flex flex-col justify-center items-center">
                                <twig:ux:icon name="material-symbols:hotel" class="size-6" style="color: #6a6ba5"/>
                                <div class="text-sm" style="color: #6a6ba5">
                                    {{ 'form.label.choose_a_stay'|trans }}
                                </div>
                            </div>
                        </div>
                        <div {{ stimulus_target('google-place-widget', 'placeInfo') }}
                            class="{{ not place ? 'hidden' }}">
                            <div class="">
                                <div class="w-full flex flex-col justify-between">
                                    <div>
                                        <div
                                            class="font-medium text-base/5 line-clamp-2" {{ stimulus_target('google-place-widget', 'nameDisplay') }}>{{ place ? place.name }}</div>
                                        <div {{ stimulus_target('google-place-widget', 'addressDisplay') }}
                                            class="text-sm/snug text-gray-500 line-clamp-1">{{ place ? place.address }}</div>
                                    </div>

                                    <div class="flex mt-3 justify-end space-x-2">

                                        {% if place %}
                                            <button {{ stimulus_action('hide-toggle', 'toggle') }} type="button" class="text-indigo-600 hover:text-indigo-700 hover:bg-indigo-200 px-2 font-medium rounded-xl text-sm cursor-pointer">
                                                {{ 'common.modify'|trans }}
                                            </button>
                                        {% endif %}
                                        <a {{ stimulus_target('google-place-widget', 'addressLinkDisplay') }}
                                            href="{{ place ? place.googleMapsURI }}"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="py-0.5 px-2.5 z-30 text-white font-medium text-sm bg-indigo-500 flex items-center focus:outline-none hover:bg-indigo-400 transition-colors rounded-xl">
                                            Maps
                                            <twig:ux:icon name="bxs:map" class="size-4 ml-1"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="space-y-2 mt-6">
                {{ form_row(form.notes) }}
                {% if form.status is defined %}
                    {{ form_row(form.status) }}
                {% endif %}
            </div>


            <div class="mt-8">

                <div class="flex justify-end mt-8">
                    <button type="submit"
                        {{ not place ? 'disabled' }}
                        {{ stimulus_target('google-place-widget', 'submitButton') }}
                            class="px-2 block w-full py-2 bg-indigo-600 text-white transition-colors font-medium cursor-pointer not-disabled:hover:bg-indigo-400 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:cursor-pointer rounded-xl">
                        {{ place ? 'common.modify'|trans : 'common.add'|trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</twig:Modal>
