<twig:Modal>
    {% block title %}<span class="modal-header">{{ 'common.accommodations'|trans({count:1}) }}</span>{% endblock %}

    {% set googlePlaceOptions = {primaryTypes: ['lodging', 'street_address']} %}
    {% if destination|default %}
        {% set googlePlaceOptions = googlePlaceOptions|merge({'location': destination.place.location}) %}
    {% endif %}


    {% set day = day ?? item.startDay ?? null %}
    {% set startDate = day ? day.date|date('Y-m-d') : null %}
    {% set endDate = item.endDay ? item.endDay.date|date('Y-m-d') : null %}


    <div  {{ stimulus_controller('google-place-widget', googlePlaceOptions) }}>
        {{ form_start(form) }}

        <div class="space-y-4">
            <div {{ stimulus_controller('calendar', {dayMapping: trip.dayMapping, endDate: endDate, fullWidth: true, inModal: true, isRange: true, startDate: startDate}) }}>
                <div {{ stimulus_target('calendar', 'calendar') }} class="border select-none border-gray-300 rounded-2xl p-3 flex items-center justify-between cursor-pointer hover:bg-gray-50">
                    <div class="flex justify-center">
                        <twig:ux:icon name="mage:calendar-2" class="size-6 mr-2 text-gray-700" />
                        Dates
                    </div>
                    <div class="flex items-center text-blue-500 font-medium">
                        <div>
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}>
                                <span class="text-gray-400">{{ 'common.arrival'|trans }}</span>
                            </div>
                        </div>
                        <div class="mx-2">
                            -
                        </div>
                        <div>
                            <div {{ stimulus_target('calendar', 'endDayDisplay') }}>
                                <span class="text-gray-400">{{ 'common.departure'|trans }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                {{ form_widget(form.startDay) }}
                {{ form_widget(form.endDay) }}
            </div>

            {% set place = item.place %}

            <gmp-place-autocomplete
                id="place-autocomplete"
                class="{{ place ? 'hidden' }} mb-6 bg-white rounded-xl border focus:ring-0 placeholder:text-slate-400 shadow-sm text-slate-600 border-indigo-200 hover:border-indigo-300 ease-in transition duration-300 focus:outline-none focus:border-indigo-400 focus:shadow"
                placeholder="{{ 'common.search_by_name_address'|trans }}"
                {{ stimulus_target('google-place-widget', 'placeInput') }}>
            </gmp-place-autocomplete>
            <div {{ stimulus_target('google-place-widget', 'placeInfo') }} class="mb-5 {{ not place ? 'hidden' }}">
                <img {{ stimulus_target('google-place-widget', 'photoDisplay') }} class="w-full h-52 rounded-2xl shrink-0 object-cover mb-4" src="{{ item.place.photoUri ?? ('https://placehold.co/300?text=' ~ item.name) }}" alt="{{ item.name }}-photo" />
                <div class="font-medium text-base/5 md:text-lg/5 line-clamp-2" {{ stimulus_target('google-place-widget', 'nameDisplay') }}>{{ place ? place.name }}</div>
                {#            <p {{ stimulus_target('google-place-widget', 'typeDisplay') }} class="text-xs/snug text-indigo-500 {{ place ? 'hidden' }}">{{ place ? place.type }}</p>#}
                <a {{ stimulus_target('google-place-widget', 'addressDisplay addressLinkDisplay') }}
                    href="{{ place ? place.googleMapsURI }}"
                    target="_blank"
                    class="text-xs/snug md:text-sm/snug text-gray-500 hover:text-blue-400 mt-1 line-clamp-2">{{ place ? place.address }}</a>
            </div>

            <div class="space-y-2 mb-8">
                {{ form_row(form.notes) }}
                {% if form.status is defined %}
                    {{ form_row(form.status) }}
                {% endif %}
            </div>



            <div class="flex gap-2 sticky bottom-5">
                {% if item.id %}
                    <button type="submit" form="delete-form" class="cursor-pointer px-4 border bg-white border-slate-300 rounded-xl hover:bg-slate-100 btn-animate font-medium text-slate-300 text-center text-sm transition-colors">
                        <twig:ux:icon name="flowbite:trash-bin-solid" class="size-4 text-slate-400" />
                    </button>
                {% endif %}
                <button type="submit"
                    {{ not place ? 'disabled' }}
                    {{ stimulus_target('google-place-widget', 'submitButton') }}
                        class="px-2 btn-animate flex-2 block w-full py-2 bg-indigo-600 text-white transition-colors font-medium cursor-pointer not-disabled:hover:bg-indigo-400 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:cursor-pointer rounded-xl">
                    {{ place ? 'common.modify'|trans : 'common.add'|trans }}
                </button>
                <button type="button"
                        class="cursor-pointer px-4 bg-gray-100 rounded-xl hover:bg-gray-200 btn-animate font-medium text-slate-300 text-center text-sm transition-colors" aria-label="Close"
                        data-action="click->modal#close">
                    <span class="sr-only">Close</span>
                    <svg class="shrink-0 size-4 text-slate-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
            </div>
        </div>
        {{ form_end(form) }}

        {% if item.id %}
            <form action="{{ path('app_travelitem_delete', {'trip': trip.id}) }}" id="delete-form" method="post" class="flex-1" onsubmit="return confirm('{{ 'common.delete'|trans }}');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-item' ~ trip.id) }}">
                <input type="hidden" name="item" value="{{ item.id }}">
            </form>
        {% endif %}
    </div>
</twig:Modal>
