<turbo-frame id="details_item_{{ item.id }}" class="flex-1 [.idea-container_&]:mx-0 relative flex group/item">
    <div class="pt-2.5 p-2 pl-6 w-full shadow-card btn-animate [.sortable-chosen_&]:bg-indigo-50 bg-white rounded-xl">
        <div class="">
            <div class="flex justify-between">
                <div>
                    <a href="{{ path('app_travelitem_edit', {'item': item.id, 'trip': trip.id}) }}"
                       class="font-semibold after:absolute after:z-1 after:top-0 after:left-0 after:w-full after:h-full text-slate-700 text-sm/6 line-clamp-1"
                       data-turbo-frame="modal">
                        {{ item.place.name }}
                    </a>

                    {% if item.place.type %}
                        <div class="-mt-2">
                            <span class="text-xs/snug text-gray-500">
                                {{ item.place.type }}
                            </span>
                        </div>
                    {% endif %}
                </div>
                <div class="ml-2">
                    <a href="{{ item.place.googleMapsURI }}" rel="noopener noreferrer" target="_blank" class="rounded-fullbtn-animate block relative z-20 bg-indigo-50z group p-2 -m-2">
                        <span class="bg-indigo-50 rounded-full btn-animate p-2 group-hover:bg-indigo-100 block">
                            <twig:ux:icon name="bx:link-external" class="size-4 text-indigo-300" />
                        </span>
                    </a>
                </div>
            </div>
            {% block details %}
                <div class="flex mt-2 justify-between">
                    {% if item.notes is not empty %}
                        <div class="flex w-full">
                            <div class="min-w-5 mr-1">
                                <twig:ux:icon name="wpf:note" class="size-4 mt-0 md:mt-0.5 text-yellow-500"/>
                            </div>
                            <div class="w-full pr-6">
                                <span class="text-gray-600 whitespace-pre-wrap line-clamp-2 text-xs md:text-sm">{{ item.notes }}</span>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="mt-2.5 flex justify-between">
                    {% if item.startTime or item.endTime %}
                        <twig:TravelItemTimeInlineEdit item="{{ item }}"/>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
</turbo-frame>

