{% extends 'travel_item/activity/_base_show.frame.html.twig' %}

{% block card_css %}outline-2{% endblock %}

{% block open_details %}
{% endblock %}
{% block details %}

    <div class="flex mt-2 justify-between">
        <div class="flex w-full">
            <div class="min-w-5 mr-1">
                <twig:ux:icon name="wpf:note" class="size-4 mt-0.5 text-yellow-500"/>
            </div>
            <div class="w-full">
                <twig:TravelItemNoteInlineEdit item="{{ item }}"/>
            </div>
        </div>
    </div>

    <div class="mt-2.5 flex justify-between">
        <twig:TravelItemTimeInlineEdit item="{{ item }}"/>
    </div>

    <div class="mt-2 flex justify-end">

        <div class="flex items-center space-x-2">
            <div class="flex items-center">

                <form action="{{ path('app_travelitem_delete', {'trip': trip.id}) }}" method="post" data-turbo-frame="_top" onsubmit="return confirm('Supprimer ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete-item' ~ trip.id) }}">
                    <input type="hidden" name="item" value="{{ item.id }}">
                    <button type="submit" class="cursor-pointer text-gray-500 text-sm  hover:bg-gray-100 flex items-center rounded-xl py-1 px-2.5 transition-colors">
                        <twig:ux:icon name="flowbite:trash-bin-solid" class="size-4 text-gray-400" />
                    </button>
                </form>
                <a href="{{ path('app_travelitem_edit', {'item': item.id, 'trip': trip.id}) }}" data-turbo-frame="modal" class="flex items-center text-gray-400 hover:bg-gray-100 text-sm py-1 px-2.5 rounded-xl">
                    <twig:ux:icon name="fluent:edit-16-filled" class="size-4" />
                </a>
            </div>
            <twig:Button:OpenMaps item="{{ item }}" />

            <a href="{{ path('app_travelitem_activity_show', {'trip': trip.id, 'item': item.id }) }}"
               class="py-1 px-4 text-gray-900 flex focus:outline-none hover:bg-indigo-50 focus:ring-4 transition-colors focus:ring-gray-100 font-medium rounded-lg">
                <twig:ux:icon name="uiw:up" class="size-4 font-bold text-indigo-500" />
            </a>
        </div>
    </div>


{% endblock %}
