<div id="day_{{ day.id }}_flight" class="space-y-2">
    {% if items and items[flightEnum] is defined %}
        {% for item in items[flightEnum] %}
            {% set sameDayFlight = item.endDay is null %}
            <div class="bg-sky-100 rounded-xl p-4 flex">
                <div class="w-full">
                    <div class="grid grid-cols-3 max-w-[600px]">
                        <div class="col-span-1 text-lg">
                            {{ item.startTime ? item.startTime|date("H:i") : 'TBD' }}
                        </div>
                        <div class="col-span-1 col-start-3">
                            {{ item.endTime ? item.endTime|date("H:i") : 'TBD' }}
                            {{ item.endDay is not null and item.endDay is not same as(day) ? '+1' }}
                        </div>
                        <div class="col-span-1 font-bold row-start-2">
                            {{ item.departureAirport.code ?: 'TBD' }}
                        </div>
                        <div class="col-span-1 row-start-2">
                            <twig:ux:icon name="bi:arrow-right" class="size-4 mr-5"/>
                        </div>
                        <div class="col-span-1 font-bold row-start-2">
                            {{ item.arrivalAirport.code ?: 'TBD' }}
                        </div>
                    </div>
                </div>



                <form action="{{ path('app_travelitem_delete', {'item': item.id}) }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                    <button type="submit" class="cursor-pointer text-red-600 hover:text-red-400 underline transition-colors">Delete</button>
                </form>

                <div class="ml-6">
                    Vol {{ item.name }}
                </div>

                {% if sameDayFlight %}
                    {# Same day departure arrival #}
                {% elseif item.startDay is same as(day) %}

                    {#                        <ol class="relative space-y-8 before:absolute before:-ml-px before:h-full before:w-0.5 before:rounded-full before:bg-gray-200"> #}
                    {#                            <li class="relative -ms-1.5 flex items-start gap-4"> #}
                    {#                                <span class="size-3 shrink-0 rounded-full bg-gray-300"></span> #}

                    {#                                <div class="-mt-2"> #}
                    {#                                    <time class="text-xs/none font-medium text-gray-700">12/02/2025</time> #}

                    {#                                    <h3 class="text-lg font-bold text-gray-900">Kickoff</h3> #}

                    {#                                    <p class="mt-0.5 text-sm text-gray-700"> #}
                    {#                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis tempora ipsum #}
                    {#                                        adipisci tenetur sunt quae exercitationem sed pariatur porro! #}
                    {#                                    </p> #}
                    {#                                </div> #}
                    {#                            </li> #}

                    {#                            <li class="relative -ms-1.5 flex items-start gap-4"> #}
                    {#                                <span class="size-3 shrink-0 rounded-full bg-gray-300"></span> #}

                    {#                                <div class="-mt-2"> #}
                    {#                                    <time class="text-xs/none font-medium text-gray-700">15/03/2025</time> #}

                    {#                                    <h3 class="text-lg font-bold text-gray-900">First Milestone</h3> #}

                    {#                                    <p class="mt-0.5 text-sm text-gray-700"> #}
                    {#                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis tempora ipsum #}
                    {#                                        adipisci tenetur sunt quae exercitationem sed pariatur porro! #}
                    {#                                    </p> #}
                    {#                                </div> #}
                    {#                            </li> #}

                    {#                            <li class="relative -ms-1.5 flex items-start gap-4"> #}
                    {#                                <span class="size-3 shrink-0 rounded-full bg-gray-300"></span> #}

                    {#                                <div class="-mt-2"> #}
                    {#                                    <time class="text-xs/none font-medium text-gray-700">24/04/2025</time> #}

                    {#                                    <h3 class="text-lg font-bold text-gray-900">Launch</h3> #}

                    {#                                    <p class="mt-0.5 text-sm text-gray-700"> #}
                    {#                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis tempora ipsum #}
                    {#                                        adipisci tenetur sunt quae exercitationem sed pariatur porro! #}
                    {#                                    </p> #}
                    {#                                </div> #}
                    {#                            </li> #}
                    {#                        </ol> #}
                    {#                        FLIGHT START DAY #}
                {% else %}
                    {#                        FLIGHT END DAY #}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
