{% set lastItem = null %}
{% set hasItems = items['itinerary']|default([]) is not empty %}


<div {{ stimulus_controller('draggable', {group: 'itinerary'}) }}
    class="day-itinerary border-dashed border-indigo-100 rounded-xl min-h-14
            [:has(>_.draggable)]:opacity-100
            [&:not(:has(>_.draggable))]:border-2"
>
    <form action="{{ path('app_travelitem_reorder_day_item', {trip: trip.id, day: day.id}) }}" method="POST" {{ stimulus_target('draggable', 'form')}} class="hidden">
        <input type="hidden" name="ordered_items" {{ stimulus_target('draggable', 'formInput')}}>
        <input type="hidden" name="_token" value="{{ csrf_token('itinerary_reorder') }}">
    </form>

    {% for item in items['itinerary']|default([]) %}
        {% set lastItem = item %}
        <div class="draggable itinerary-item [.is-dragging_&]:py-3.5 [.is-dragging_.day-itinerary_&:first-of-type]:pt-7 [.idea-container_&:first-of-type]:pt-0 [.is-dragging_&:last-of-type]:pb-0" data-item-id="{{ item.id }}">
            {% if loop.first %}

                <div class="flex [.idea-container_&]:hidden [.is-dragging_&]:hidden opacity-0 hover:opacity-100 duration-200 transition-opacity items-center">
                    <div class="relative flex items-start ml-6">
                        <div class="h-7 before:absolute before:left-1/2 before:top-0 before:bottom-0 before:border-l-2 before:border-dashed before:border-indigo-200 before:-translate-x-1/2"></div>
                        <a href="{{ path('app_travelitem_create_day_item', {trip: trip.id, day: day.id }) }}"
                           class="relative border-gray-300 hover:bg-indigo-50 bg-white rounded-lg"
                           data-turbo-frame="modal">
                            <div>
                                <twig:ux:icon name="bx:plus" class="size-6 text-indigo-300" />
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if not loop.first %}
                {% set prevItem = items['itinerary'][loop.index0 - 1] %}
                <div class="[.sortable-chosen_&]:opacity-0 [.idea-container_&]:hidden [.is-dragging_&]:hidden">
                    <div class="flex items-center group">
                        <div class="relative flex items-center ml-6">
                            <div class="h-7 before:absolute before:left-1/2 before:top-0 before:bottom-0 before:border-l-2 before:border-dashed before:border-indigo-200 before:-translate-x-1/2"></div>
                            <a href="{{ path('app_travelitem_create_day_item', {trip: trip.id, day: day.id, position: item.position }) }}"
                               class="relative border-gray-300 opacity-0 group-hover:opacity-100 transition-opacity duration-200 hover:bg-indigo-50 bg-white rounded-lg"
                               data-turbo-frame="modal">
                                <div>
                                    <twig:ux:icon name="bx:plus" class="size-6 text-indigo-300"/>
                                </div>
                            </a>
                        </div>

                        <span class="shrink-0 px-4 text-gray-400 text-sm flex items-center">
                            <twig:ux:icon name="ic:baseline-directions-walk" class="size-3.5" fill="currentColor"/>
                            {% set mapsDirection = prevItem
                                ? "https://www.google.com/maps/dir/?api=1&origin=" ~ (prevItem.place.name ~ prevItem.place.address)|url_encode ~ "&destination=" ~ (item.place.name ~ item.place.address)|url_encode
                                : "" %}
                            <span class="ps-1 hover:underline cursor-pointer">
                                <a href="{{ mapsDirection }}" target="_blank">Itineraire</a>
                            </span>
                        </span>
                    </div>
                </div>
            {% endif %}

            <twig:TravelItem:List_item item="{{ item }}" newItem="{{ newItem ?? null }}" trip="{{ trip }}" position="{{ loop.index }}"/>
        </div>
    {% endfor %}
</div>
<div class="mt-6 flex space-x-2">
    <a href="{{ path('app_travelitem_create_day_item', {trip: trip.id, day: day.id, position: lastItem ? lastItem.position + 1 : 0 }) }}"
       class="flex flex-2 items-center text-indigo-400 border border-indigo-200 rounded-3xl px-4 py-2 hover:bg-indigo-50 transition-colors"
       data-turbo-frame="modal">
        <twig:ux:icon name="bx:plus" class="size-4 mr-2 text-indigo-400"/>
        Ajouter un lieu
    </a>

    <a href="{{ path('app_travelitem_create', {trip: trip.id, type: accommodationEnum, day: day.id }) }}"
       data-turbo-frame="modal"
       class="text-indigo-400 border border-indigo-200 flex items-center rounded-3xl px-4 py-2 hover:bg-indigo-50 transition-colors"
    >
        <twig:ux:icon name="material-symbols:hotel" class="size-5"/>
    </a>
</div>
