<twig:Modal>
    {% block title %}<span class="font-medium text-gray-700">Destination</span>{% endblock %}

    <div  {{ stimulus_controller('google-place-widget', {primaryTypes: ['locality', 'administrative_area_level_2', 'sublocality_level_1']}) }}>
        {{ form_start(form) }}

        {% set startDay = day ?? item.startDay ?? null %}
        {% set endDay = endDay ?? item.endDay ?? null %}

        <div class="space-y-4">
            <div {{ stimulus_controller('calendar', {dayMapping: trip.dayMapping, fullWidth: true, inModal: true, isRange: true, startDate: startDay ? startDay.date|date('Y-m-d'), endDate: endDay ? endDay.date|date('Y-m-d')} ) }}>
                <div {{ stimulus_target('calendar', 'calendar') }} class="border border-gray-300 rounded-2xl p-3 flex items-center justify-between cursor-pointer hover:bg-gray-50">
                    <div class="flex justify-center">
                        <twig:ux:icon name="mage:calendar-2" class="size-6 mr-2 text-gray-700" />
                        Dates
                    </div>
                    <div class="flex items-center text-blue-500 font-medium">
                        <div>
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}>
                                <span class="text-gray-400">Arrivée</span>
                            </div>
                        </div>
                        <div class="mx-2">
                            -
                        </div>
                        <div>
                            <div {{ stimulus_target('calendar', 'endDayDisplay') }}>
                                <span class="text-gray-400">Départ</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-gray-500 mt-1 text-sm px-2">
                    {{ form_errors(form.startDay) }}
                </div>

                {{ form_widget(form.startDay) }}
                {{ form_widget(form.endDay) }}
            </div>

            <div class="bg-indigo-50 rounded-2xl">
                <div class="p-2 pb-0">
                    <gmp-place-autocomplete
                        id="place-autocomplete"
                        class="bg-white rounded-xl focus:outline-none focus:ring-0 focus:border-none"
                        placeholder="Enter a location"
                        {{ stimulus_target('google-place-widget', 'placeInput') }}>
                    </gmp-place-autocomplete>
                </div>


                {% set item = item ?? null %}

                <div class="p-3 mb-4">
                    <div {{ stimulus_target('google-place-widget', 'placeHolder') }} class="{{ item ? 'hidden' }}">
                        <div class="flex flex-col justify-center items-center">
                            <div class="text-sm" style="color: #6a6ba5">
                                Selectionner une ville
                            </div>
                        </div>
                    </div>
                    <div {{ stimulus_target('google-place-widget', 'placeInfo') }} class="{{ not item ? 'hidden' }}">
                        <div class="">
                            <div class="w-full flex justify-between items-end">
                                <div>
                                    <div class="font-medium text-base/5 line-clamp-2" {{ stimulus_target('google-place-widget', 'nameDisplay') }}>{{ item ? item.place.name }}</div>
                                    <div {{ stimulus_target('google-place-widget', 'addressDisplay') }} class="text-sm/snug text-gray-500 line-clamp-1">{{ item ? item.place.address }}</div>
                                </div>

                                <div class="">
                                    <a {{ stimulus_target('google-place-widget', 'addressLinkDisplay') }}
                                        href="{{ item ? item.place.googleMapsURI }}"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="py-0.5 px-2.5 z-30 text-white font-medium text-sm bg-indigo-500 flex items-center focus:outline-none hover:bg-indigo-400 transition-colors rounded-xl">
                                        Maps
                                        <twig:ux:icon name="bxs:map" class="size-4 ml-1" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex justify-end mt-8">
                <div>
                    <button type="submit"
                            {{ not item ? 'disabled' }}
                            {{ stimulus_target('google-place-widget', 'submitButton') }}
                            class="bg-blue-100 px-4 py-1 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:hover:bg-blue-200 not-disabled:cursor-pointer rounded-2xl ml-0.5">
                        Ajouter
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</twig:Modal>
