<twig:Modal>
    {% block title %}<span class="modal-header">{{ 'common.destination'|trans }}</span>{% endblock %}

    {% set place = item.place %}

    <div  {{ stimulus_controller('google-place-widget', {primaryTypes: ['locality', 'administrative_area_level_2', 'sublocality_level_1']}) }}>
        {{ form_start(form) }}

        {% set startDay = day ?? item.startDay ?? null %}
        {% set endDay = endDay ?? item.endDay ?? null %}

        <div class="space-y-4 mb-8 min-h-[300px]">
            <div {{ stimulus_controller('calendar', {dayMapping: trip.dayMapping, fullWidth: true, inModal: true, isRange: true, startDate: startDay ? startDay.date|date('Y-m-d'), endDate: endDay ? endDay.date|date('Y-m-d')} ) }}>
                <div {{ stimulus_target('calendar', 'calendar') }} class="border select-none border-gray-300 rounded-xl p-3 flex items-center justify-between cursor-pointer hover:bg-gray-50">
                    <div class="flex justify-center">
                        <twig:ux:icon name="mage:calendar-2" class="size-6 mr-2 text-gray-700" />
                        Dates
                    </div>
                    <div class="flex items-center text-blue-500 font-medium">
                        <div>
                            <div {{ stimulus_target('calendar', 'startDayDisplay') }}>
                                <span class="text-gray-400">{{ 'common.arrival'|trans }}</span>
                            </div>
                        </div>
                        <div class="mx-2">
                            -
                        </div>
                        <div>
                            <div {{ stimulus_target('calendar', 'endDayDisplay') }}>
                                <span class="text-gray-400">{{ 'common.departure'|trans }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-orange-600 mt-1 text-sm px-2 flex items-center">
                    {{ form_errors(form.startDay) }}
                    {{ form_errors(form.endDay) }}
                </div>

                {{ form_widget(form.startDay) }}
                {{ form_widget(form.endDay) }}
            </div>


            <div {{ stimulus_controller('hide-toggle') }} class="">

                <div {{ stimulus_target('hide-toggle', 'item') }} class="{{ place ? 'hidden' }}">
                    <gmp-place-autocomplete
                        id="place-autocomplete"
                        class="bg-white rounded-xl mb-2 border border-indigo-200 focus:outline-none focus:ring-0"
                        placeholder="{{ 'common.search_destination'|trans }}"
                        {{ stimulus_target('google-place-widget', 'placeInput') }}>
                    </gmp-place-autocomplete>
                </div>




                <div class="">
                    <div {{ stimulus_target('google-place-widget', 'placeHolder') }} class="{{ place ? 'hidden' }}">
{#                        <div class="flex flex-col justify-center items-center">#}
{#                            <twig:ux:icon name="iconoir:city" class="size-8 text-indigo-300"/>#}
{#                        </div>#}
                    </div>
                    <div {{ stimulus_target('google-place-widget', 'placeInfo') }} class="{{ not place ? 'hidden' }}">
                        <div class="p-3 border rounded-xl border-indigo-200">
                            <div class="w-full flex">
                                <div>
                                    <div class="font-medium text-base/5 line-clamp-2" {{ stimulus_target('google-place-widget', 'nameDisplay') }}>{{ place ? place.name }}</div>
                                    <div {{ stimulus_target('google-place-widget', 'addressDisplay') }} class="text-sm/snug text-gray-500 line-clamp-1">{{ place ? place.address }}</div>
                                </div>

                            </div>

                            <div class="flex justify-end gap-2">
                                {% if place %}
                                    <button {{ stimulus_action('hide-toggle', 'toggle') }} type="button" class="text-indigo-400 hover:bg-indigo-100 px-2 font-medium rounded-xl text-sm cursor-pointer">
                                        {{ 'common.modify'|trans }}
                                    </button>
                                {% endif %}
                                <a {{ stimulus_target('google-place-widget', 'addressLinkDisplay') }}
                                    href="{{ place ? place.googleMapsURI }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="py-0.5 px-2.5 z-30 text-white font-medium text-sm bg-indigo-500 flex items-center focus:outline-none hover:bg-indigo-400 transition-colors rounded-xl">
                                    Maps
                                    <twig:ux:icon name="bxs:map" class="size-4 ml-1" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex gap-2 sticky bottom-5">
            {% if item.id %}
                <button type="submit" form="delete-form" class="cursor-pointer px-4 border bg-white border-slate-300 rounded-xl hover:bg-slate-100 btn-animate font-medium text-slate-300 text-center text-sm transition-colors">
                    <twig:ux:icon name="flowbite:trash-bin-solid" class="size-4 text-slate-400" />
                </button>
            {% endif %}
            <button type="submit"
                {{ not place ? 'disabled' }}
                {{ stimulus_target('google-place-widget', 'submitButton') }}
                    class="px-2 btn-animate flex-2 block w-full py-2 bg-indigo-600 text-white transition-colors font-medium cursor-pointer not-disabled:hover:bg-indigo-400 disabled:opacity-50 disabled:cursor-not-allowed not-disabled:cursor-pointer rounded-xl">
                {{ place ? 'common.modify'|trans : 'common.add'|trans }}
            </button>
            <button type="button"
                    class="cursor-pointer px-4 bg-gray-100 rounded-xl hover:bg-gray-200 btn-animate font-medium text-slate-300 text-center text-sm transition-colors" aria-label="Close"
                    data-action="click->modal#close">
                <span class="sr-only">Close</span>
                <svg class="shrink-0 size-4 text-slate-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
        </div>
        {{ form_end(form) }}

        {% if item.id %}
            <form action="{{ path('app_travelitem_delete', {'trip': trip.id}) }}" id="delete-form" method="post" class="flex-1" onsubmit="return confirm('{{ 'common.delete'|trans }}');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-item' ~ trip.id) }}">
                <input type="hidden" name="item" value="{{ item.id }}">
            </form>
        {% endif %}
    </div>
</twig:Modal>
