{% use 'form_div_layout.html.twig' %}

{% block text_row %}
    <div class="w-full" {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}

        {% if help is defined %}
            <div class="">
                {{ form_help(form) }}
            </div>
        {% endif %}

        <div class="text-sm text-orange-500">
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block submit_widget %}
    {% set class = 'px-2 py-0.5 rounded-xl bg-indigo-500 text-white transition-colors font-medium cursor-pointer hover:bg-indigo-400' %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ class)|trim}) %}

    <button type="submit" {{ block('button_attributes') }}>
        {{ label|trans({}, translation_domain) }}
    </button>
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) %}
        {% set class = 'form-label' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ class)|trim}) %}
        <label for="{{ id }}" {% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}>
            {{ label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endblock %}

{% block text_widget %}
    {% set icon = attr.icon|default(null) %}
    {% set class = 'form-input' %}
    {% set class = icon ? class ~ '  pr-3 pl-10' : class %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ class)|trim}) %}

    {% if icon %}
        {% set icon = attr.icon|default(null) %}

        <div class="relative">
            <twig:ux:icon name="{{ icon }}" class="absolute w-5 h-5 top-3 left-2.5 text-slate-400" />
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %}/>
        </div>

    {% else %}
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %}/>
    {% endif %}

{% endblock %}

{% block textarea_widget %}
    {% set icon = attr.icon|default(null) %}
    {% set class = 'form-input' %}
    {% set class = icon ? class ~ '  pr-3 pl-10' : class %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ class)|trim}) %}

    <div class="relative flex">
        {% if icon %}
            <twig:ux:icon name="{{ icon }}" class="absolute w-5 h-5 top-3 left-2.5 text-slate-400" />
        {% endif %}
        <textarea {{ block('widget_attributes') }} data-controller="textarea-autogrow">
            {{- value -}}
        </textarea>
    </div>
{% endblock %}

{% block enum_widget %}
    {% set icon = attr.icon|default(null) %}
    {% set class = 'form-input py-2.5' %}
    {% set class = icon ? class ~ '  pr-3 pl-10' : class %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ class)|trim}) %}

    {% if icon %}
        {% set icon = attr.icon|default(null) %}
    {% endif %}

    <div class="relative">
        {% if icon %}
            <twig:ux:icon name="{{ icon }}" class="absolute w-5 h-5 top-3 left-2.5 text-slate-400" />
        {% endif %}
        <select {{ block('widget_attributes') }}>

            {% if placeholder is defined and placeholder is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>
                    {{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}
                </option>
            {% endif %}

            {% for choice in choices %}
                <option value="{{ choice.value }}"
                    {% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}
                    {% if choice is selectedchoice(value) %} selected="selected"{% endif %}
                >
                    {{ choice.label|trans({}, translation_domain) }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block time_row %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ 'border-none shadow-none')|trim}) %}
    <div class="">
        <label for="{{ id }}"
               class="block text-xs relative px-3 py-1 bg-white hover:border-indigo-200 focus-within:shadow focus-within:border-indigo-200 focus-within:ring-0 font-medium form-input cursor-text">
                <span class="block -mb-1">{{ label|trans({}, translation_domain) }}</span>

            {% set attr = attr|merge({
                'class': (attr.class|default('') ~ ' block w-full p-0 rounded-lg border-none bg-transparent text-gray-900 placeholder-gray-400 focus:ring-0 sm:text-sm leading-tight')|trim
            }) %}

            <input type="time" {{ block('widget_attributes') }} value="{{ value }}">
        </label>

        {{ form_errors(form) }}
    </div>
{% endblock %}
