{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="flex items-center select-none relative justify-between bg-white max-w-screen-xl mx-auto px-5 py-2 w-full">
        <div>
            <a href="{{ path('app_home') }}" class="text-gray-600 text-2xl font-bold cursor-pointer">{{ app_name|slice(0, 7) }}<span class="text-indigo-600">{{ app_name|slice(7) }}</a>
        </div>

        <div class="flex items-center gap-5">
            <ul id="drawer" role="menu"
                class="sm:gap-3 transition-left ease-[cubic-bezier(0.4, 0.0, 0.2, 1)] delay-150  sm:flex  flex flex-col absolute min-h-screen -left-48 sm:static w-48 top-0 bg-white sm:shadow-none shadow-xl sm:bg-transparent sm:flex-row sm:w-auto sm:min-h-0">
                <li class="p-3 text-gray-600">
                    <a href="{{ path('app_home') }}" class="hover:text-indigo-500">{{ 'common.home'|trans }}</a>
                </li>
                <li class="p-3 text-gray-600">
                    <a href="{{ path('app_trip') }}" class="hover:text-indigo-500">{{ 'trip.my_trips'|trans }}</a>
                </li>
            </ul>
            <div class="flex gap-3 group items-center" data-turbo-prefetch="false">
                {% if app.user %}
                    <div data-controller="dropdown" class="relative">
                        <div class="flex items-center">
                            <button type="button"
                                    class="group focus:ring-2 user cursor-pointer relative ring-indigo-600/30 rounded-full"
                                    data-action="dropdown#toggle click@window->dropdown#hide">
                                <twig:UserAvatar user="{{ app.user }}" imgClass="size-11"/>
                            </button>
                        </div>
                        <div
                            data-dropdown-target="menu"
                            class="hidden transition transform origin-top-right absolute mt-2 right-0 border border-indigo-100 shadow-lg rounded-xl w-56 z-50 bg-white"
                            data-transition-enter-from="opacity-0 scale-95"
                            data-transition-enter-to="opacity-100 scale-100"
                            data-transition-leave-from="opacity-100 scale-100"
                            data-transition-leave-to="opacity-0 scale-95"
                        >
                            <a href="{{ path('app_account') }}" data-action="dropdown#toggle" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">{{ 'common.my_account'|trans }}</a>
                            <a href="{{ path('app_trip_create') }}" data-turbo-frame="modal" data-action="dropdown#toggle" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">{{ 'trip.new_trip'|trans }}</a>
                            <a href="{{ path('app_logout') }}" data-action="dropdown#toggle" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">{{ 'common.logout'|trans }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="flex items-center space-x-1 border-l-1 border-indigo-100 pl-2">
                        <a href="{{ path('app_login') }}" class="text-sm text-indigo-600 hover:bg-indigo-50 transition-colors rounded-full px-4 py-2 font-bold">
                            {{ 'common.login'|trans }}
                        </a>
                        <a href="{{ path('app_register') }}" class="btn">
                            {{ 'form.security.register'|trans }}
                        </a>
                    </div>
                {% endif %}
                <div class="sm:hidden cursor-pointer" id="mobile-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path class="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
