{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="flex items-center select-none relative justify-between bg-white max-w-screen-xl container py-2 w-full">
        <div>
            <a href="{{ path('app_home') }}" class="text-gray-600 text-4xl font-brand font-bold cursor-pointer">{{ app_name|slice(0, 7) }}<span class="text-indigo-600">{{ app_name|slice(7) }}</span></a>
        </div>

        <div class="flex items-center gap-5">
            <ul
                class="gap-3 bg-transparent hidden md:flex md:p-0 transition-[translate] ease-[cubic-bezier(0.4, 0.0, 0.2, 1)] delay-150 w-auto bg-white">
                <li class="p-3 py-2 md:py-3 text-gray-600">
                    <a href="{{ path('app_home') }}" class="hover:text-indigo-500">{{ 'common.home'|trans }}</a>
                </li>
                <li class="p-3 py-2 md:py-3 text-gray-600">
                    <a href="{{ path('app_trip') }}" class="hover:text-indigo-500">{{ 'trip.my_trips'|trans }}</a>
                </li>
            </ul>
            <div class="flex gap-3 group items-center" data-turbo-prefetch="false">
                {% if app.user %}
                    <div data-controller="dropdown" class="relative hidden md:block">
                        <div class="flex items-center">
                            <button type="button"
                                    class="group focus:ring-2 user cursor-pointer relative ring-indigo-600/30 rounded-full"
                                    data-action="dropdown#toggle click@window->dropdown#hide">
                                <twig:UserAvatar user="{{ app.user }}" imgClass="size-11"/>
                            </button>
                        </div>
                        <div
                            data-dropdown-target="menu"
                            class="hidden transition transform origin-top-right absolute mt-2 right-0 border border-indigo-100 shadow-lg rounded-xl w-56 z-50 bg-white"
                            data-transition-enter-from="opacity-0 scale-95"
                            data-transition-enter-to="opacity-100 scale-100"
                            data-transition-leave-from="opacity-100 scale-100"
                            data-transition-leave-to="opacity-0 scale-95"
                        >
                            <a href="{{ path('app_account') }}" data-action="dropdown#toggle" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">{{ 'common.my_account'|trans }}</a>
                            <a href="{{ path('app_trip_create') }}" data-turbo-frame="modal" data-action="dropdown#toggle" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">{{ 'trip.new_trip'|trans }}</a>
                            <a href="{{ path('app_logout') }}" data-action="dropdown#toggle" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">{{ 'common.logout'|trans }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="flex items-center space-x-1 border-l-1 border-indigo-100 pl-2">
                        <a href="{{ path('app_login') }}" class="text-sm text-indigo-600 hover:bg-indigo-50 transition-colors rounded-full px-4 py-2 font-bold">
                            {{ 'common.login'|trans }}
                        </a>
                        <a href="{{ path('app_register') }}" class="btn">
                            {{ 'form.security.register'|trans }}
                        </a>
                    </div>
                {% endif %}


                <button type="button" class="md:hidden cursor-pointer -m-2 p-2" id="mobile-toggle" {{ stimulus_action('drawer', 'open', 'click') }}
                        aria-haspopup="dialog"
                        aria-expanded="false"
                        aria-controls="hs-offcanvas"
                        data-hs-overlay="#hs-offcanvas">
                    <twig:ux:icon name="material-symbols:menu" class="text-slate-400 size-6"/>

                </button>
                <div id="hs-offcanvas" class="hs-overlay hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-xs w-full z-80 bg-white border-e border-gray-200"
                     role="dialog"
                     tabindex="-1"
                     aria-labelledby="hs-offcanvas-label">
                    <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200">
                        <h3 id="hs-offcanvas-label" class="text-gray-600 text-2xl font-bold">
                            <span class=" cursor-pointer">{{ app_name|slice(0, 7) }}</span><span class="text-indigo-600">{{ app_name|slice(7) }}</span>
                        </h3>
                        <button type="button"
                                class="inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
                                aria-label="Close" data-hs-overlay="#hs-offcanvas">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 6 6 18"></path>
                                <path d="m6 6 12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="p-4">
                        <ul class="gap-3 text-sm">
                            <li class="p-3 py-2 text-gray-600">
                                <a href="{{ path('app_home') }}" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="hover:text-indigo-500">{{ 'common.home'|trans }}</a>
                            </li>
                            <li class="p-3 py-2 text-gray-600">
                                <a href="{{ path('app_trip') }}" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="hover:text-indigo-500">{{ 'trip.my_trips'|trans }}</a>
                            </li>
                            {% if app.user %}
                                <li class="p-3 py-2 text-gray-600">
                                    <a href="{{ path('app_account') }}" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="hover:text-indigo-500">{{ 'common.my_account'|trans }}</a>
                                </li>
                                <li class="p-3 py-2 text-gray-600">
                                    <a href="{{ path('app_trip_create') }}" data-turbo-frame="modal" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="hover:text-indigo-500">{{ 'trip.new_trip'|trans }}</a>
                                </li>
                                <li class="p-3 py-2 mt-5 text-red-400">
                                    <a href="{{ path('app_logout') }}" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="hover:text-indigo-500">{{ 'common.logout'|trans }}</a>
                                </li>
                            {% else %}
                                <li class="px-0 py-2 mt-10 text-gray-600">
                                    <div class="flex items-center space-x-1">
                                        <a href="{{ path('app_login') }}" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="text-sm text-indigo-600 hover:bg-indigo-50 transition-colors rounded-full px-4 py-2 font-bold">
                                            {{ 'common.login'|trans }}
                                        </a>
                                        <a href="{{ path('app_register') }}" aria-label="Close" data-hs-overlay="#hs-offcanvas" class="btn">
                                            {{ 'form.security.register'|trans }}
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
