<div id="item_{{ item.id }}" class="itinerary-item">
    <div class="{{ newItem is same as(item) ? 'new-item' }}">
        <div class="flex space-x-3">
            <div class="flex-1 [.idea-container_&]:mx-0 relative p-2.5 md:py-3 pl-6 border border-indigo-200 [.sortable-chosen_&]:bg-indigo-50 rounded-xl group/item">
{#                <p class="text-sm text-purple-900 font-medium -mt-1.5">{{ item.place.type }}</p>#}
{#                <div class="w-100 ">#}
                    <div class="font-medium text-base/6 line-clamp-2">{{ item.place.name }}</div>
                    <a href="{{ item.place.googleMapsURI }}" target="_blank" rel="noopener noreferrer" class="text-sm/snug -mt-0.5 hover:text-gray-700 text-gray-500 line-clamp-1">{{ item.place.address }}</a>
                    {% if item.notes is not empty %}
                        <div class="mt-3 text-sm flex items-start">
                            <twig:ux:icon name="wpf:note" class="size-4 mt-0.5 shrink-0 text-gray-400 mr-2" />
                            <div>
                                <span class="text-gray-600">
                                    {{ item.notes }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                <div class="absolute handle cursor-grabbing  top-3 -start-3.5">
                    <div class="inline-flex relative items-center justify-center w-7 h-7">
                        <div class="absolute w-full h-full bg-indigo-300 border-2 border-white rounded-full rounded-br-none transform rotate-45"></div>

                        <span class="relative text-white font-bold transform ">{{ position }}</span>
                    </div>
                    <div class="mt-3.5 opacity-0 group-hover/item:[&:not(.sortable-ghost_&)]:opacity-100 transition-opacity bg-white rounded-md flex justify-center">
                        <twig:ux:icon name="ic:baseline-drag-indicator" class="size-6 text-indigo-200" />
                    </div>
                </div>
            </div>

            <img class="w-40 h-24 rounded-xl [.idea-container_&]:hidden shrink-0 object-cover" src="{{ item.place.photoUri ?? ('https://placehold.co/300?text=' ~ item.name) }}" alt="{{ item.name }}-photo" />

{#            <div class="self-center justify-self-end">#}
{#                <form action="{{ path('app_travelitem_delete', {'item': item.id}) }}" method="post">#}
{#                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">#}
{#                    <button type="submit" class="cursor-pointer text-red-600 hover:text-red-400 underline transition-colors">Delete</button>#}
{#                </form>#}
{#            </div>#}
        </div>
    </div>
</div>
