<div class="draggable relative [.is-dragging_.day-itinerary_&]:py-3.5 [.day-itinerary_&:not(.is-dragging)]:pt-7 [.is-dragging_&]:last-of-type:!pb-0 [.is-dragging_.day-itinerary_&]:first-of-type:!pt-7 "
     data-item-id="{{ item.id }}">
    <turbo-frame id="item_{{ item.id }}}">
        <div class="relative text-sm p-2 pl-3.5 [.day-itinerary_&]:min-h-20 outline-indigo-200 [.sortable-chosen_&]:bg-indigo-50 rounded-xl group/item {% block card_css %}outline hover:bg-gray-50{% endblock %}">


            {% block open_details %}
                <a href="{{ path('app_travelitem_idea_details', {'item': item.id, 'trip': trip.id}) }}" class="cursor-pointer absolute w-full h-full top-0 left-0">
                </a>
            {% endblock %}
            <div class="">
                <div class="line-clamp-2 font-medium text-gray-700">{{ item.place.name }}</div>
            </div>

            {% if item.place.type %}
                <div class="flex justify-between">
                    <span class="bg-indigo-50z px-1.5py-0.5 rounded-lg text-xs text-gray-500">
                        {{ item.place.type }}
                    </span>
                </div>
            {% endif %}


            <div class="absolute handle cursor-grabbing top-2 -start-3">
                <div class="bg-white rounded-md flex justify-center">
                    <twig:ux:icon name="ic:baseline-drag-indicator" class="size-6 text-indigo-200" />
                </div>
            </div>
            {% block details %}
                {% if item.notes is not empty %}
                    <div class="mt-1 text-sm">
                        <span class="text-gray-600 line-clamp-1">
                            <twig:ux:icon name="wpf:note" class="size-3.5 inline shrink-0 text-gray-400 mr-0.5" />
                            {{ item.notes }}
                        </span>
                    </div>
                {% endif %}
            {% endblock %}
        </div>

    </turbo-frame>
</div>
